{
  "openapi": "3.0.1",
  "info": {
    "title": "Sui API",
    "description": "The SUI Blockchain API is used to retrieve SUI Blockchain data. In order to execute queries you need to get API Key and use it in header 'x-api-key'. However, before that you need to sign up on the explorer or company website. If an account is created on the website <strong>https://staketab.com/</strong> or <strong>https://suiscan.xyz/</strong>, the user will be granted the <strong>ROLE_USER</strong> role. After that you may fetch API KEY.",
    "termsOfService": "terms-of-service",
    "contact": {
      "name": "Staketab tech support",
      "url": "https://staketab.com/",
      "email": "support@staketab.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blockberry.one/sui",
      "description": "Production"
    }
  ],
  "security": [
    {
      "x-api-key": []
    }
  ],
  "paths": {
    "/v1/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getAccounts",
        "description": "Get a list of all accounts on the Sui Network.",
        "operationId": "getAccounts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Queried API page.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Select sorting parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Select sorting parameter.",
              "default": "BALANCE",
              "enum": [
                "FIRST_SEEN",
                "LAST_SEEN",
                "TRANSACTIONS",
                "BALANCE"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalPages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalElements": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountAddress": {
                            "type": "string"
                          },
                          "accountName": {
                            "type": "string"
                          },
                          "accountImg": {
                            "type": "string"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "nftsСount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "objectsCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "txsCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "firstSeen": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "lastSeen": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "securityMessage": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "sorted": {
                          "type": "boolean"
                        },
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        }
                      }
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "numberOfElements": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "offset": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "sort": {
                          "type": "object",
                          "properties": {
                            "sorted": {
                              "type": "boolean"
                            },
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            }
                          }
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      }
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/total/values/average-tx-fee": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "getAvgTransactionBlocksFee*",
        "description": "Get the average amount of fee collected for executing transaction blocks throughout the Sui Network.",
        "operationId": "getAvgTransactionBlocksFee",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Chart period.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Chart period.",
              "default": "MINUTE",
              "enum": [
                "MINUTE",
                "HOUR",
                "DAY",
                "WEEK",
                "MONTH"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chain-info": {
      "get": {
        "tags": [
          "ChainInfo"
        ],
        "summary": "getChainInfoParameters*",
        "description": "Get a chart showing Sui blockchain information: data structure, hashing functions, chain ID, chain version, etc.",
        "operationId": "getChainInfoParameters",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "generalParametersDto": {
                      "type": "object",
                      "properties": {
                        "openRpcVersion": {
                          "type": "string"
                        },
                        "nodeVersion": {
                          "type": "string"
                        },
                        "protocolVersion": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "systemStateVersion": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "devCompany": {
                          "type": "string"
                        },
                        "devCompanyWebSite": {
                          "type": "string"
                        },
                        "licenseName": {
                          "type": "string"
                        },
                        "licenseUrl": {
                          "type": "string"
                        },
                        "blockchainType": {
                          "type": "string"
                        },
                        "latestHardFork": {
                          "type": "string"
                        },
                        "smartContract": {
                          "type": "string"
                        },
                        "blockChainLanguage": {
                          "type": "string"
                        },
                        "smartContractUpgrade": {
                          "type": "string"
                        },
                        "layer2Solution": {
                          "type": "string"
                        },
                        "smartContractLanguage": {
                          "type": "string"
                        },
                        "defaultHashingFunction": {
                          "type": "string"
                        },
                        "supportedHashingFunction": {
                          "type": "string"
                        },
                        "inputOutputTracingSystem": {
                          "type": "string"
                        },
                        "metricsType": {
                          "type": "string"
                        },
                        "signatureChryptographicFormat": {
                          "type": "string"
                        },
                        "dataBase": {
                          "type": "string"
                        },
                        "memoryAllocation": {
                          "type": "string"
                        },
                        "investingCompany": {
                          "type": "string"
                        },
                        "webSite": {
                          "type": "string"
                        },
                        "repoLink": {
                          "type": "string"
                        }
                      }
                    },
                    "epochParametersDto": {
                      "type": "object",
                      "properties": {
                        "checkpointDuration": {
                          "type": "string"
                        },
                        "epochDurationMs": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "avgCheckpointsPerEpoch": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "maxCheckpointSize": {
                          "type": "string"
                        },
                        "maxTxPerCheckpoint": {
                          "type": "string"
                        },
                        "avgTxPerCheckpoint": {
                          "type": "integer",
                          "format": "int64"
                        }
                      }
                    },
                    "txParametersDto": {
                      "type": "object",
                      "properties": {
                        "txTimeToFinally": {
                          "type": "string"
                        },
                        "memPool": {
                          "type": "string"
                        },
                        "maxTxSize": {
                          "type": "string"
                        },
                        "txProcessingType": {
                          "type": "string"
                        },
                        "txOrdering": {
                          "type": "string"
                        },
                        "programmableTxBlockSoftware": {
                          "type": "string"
                        },
                        "transactionSerializationFormat": {
                          "type": "string"
                        },
                        "maxMultisig": {
                          "type": "integer",
                          "format": "int64"
                        }
                      }
                    },
                    "storageParametersDto": {
                      "type": "object",
                      "properties": {
                        "minStorage": {
                          "type": "string"
                        },
                        "maxStorage": {
                          "type": "string"
                        },
                        "currStorage": {
                          "type": "number"
                        },
                        "initialStorageCostPerByte": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "storageCostPerByte": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "storageFundReinvestRate": {
                          "type": "string"
                        },
                        "storageFundRebate": {
                          "type": "number"
                        },
                        "storageRebateRate": {
                          "type": "string"
                        }
                      }
                    },
                    "safeModeParametersDto": {
                      "type": "object",
                      "properties": {
                        "safeMode": {
                          "type": "string"
                        },
                        "safeModeComputationRewards": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "safeModeNonRefundableStorageFee": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "safeModeStorageRebate": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "safeModeStorageRewards": {
                          "type": "integer",
                          "format": "int64"
                        }
                      }
                    },
                    "nativeTokenParametersDto": {
                      "type": "object",
                      "properties": {
                        "denom": {
                          "type": "string"
                        },
                        "maxBalance": {
                          "type": "string"
                        },
                        "minBalance": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "maxSupplyOfSuiToken": {
                          "type": "string"
                        },
                        "minSupplyOfSuiToken": {
                          "type": "string"
                        },
                        "walletSpecifications": {
                          "type": "string"
                        },
                        "defaultPoolTokenExchangeRate": {
                          "type": "string"
                        }
                      }
                    },
                    "consensusParametersDto": {
                      "type": "object",
                      "properties": {
                        "consensusMechanism": {
                          "type": "string"
                        },
                        "consensusEngine": {
                          "type": "string"
                        },
                        "validatorSet": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "validatorCandidates": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "inactivePools": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "totalQuorumVotingPower": {
                          "type": "string"
                        },
                        "quorumThreshold": {
                          "type": "string"
                        },
                        "maxValidatorVotingPower": {
                          "type": "string"
                        },
                        "slashingMechanism": {
                          "type": "string"
                        },
                        "slashingReasons": {
                          "type": "string"
                        },
                        "rewardSlashingRate": {
                          "type": "string"
                        },
                        "scoringDecisionMadDivisor": {
                          "type": "string"
                        },
                        "scoringDecisionCutoffValue": {
                          "type": "string"
                        }
                      }
                    },
                    "requirementsForValidatorParametersDto": {
                      "type": "object",
                      "properties": {
                        "validatorCPU": {
                          "type": "string"
                        },
                        "validatorRAM": {
                          "type": "string"
                        },
                        "validatorSSDStorage": {
                          "type": "string"
                        },
                        "validatorOperatingSystems": {
                          "type": "string"
                        }
                      }
                    },
                    "requirementsForNodeParametersDto": {
                      "type": "object",
                      "properties": {
                        "nodeCPU": {
                          "type": "string"
                        },
                        "nodeRAM": {
                          "type": "string"
                        },
                        "nodeSSDStorage": {
                          "type": "string"
                        },
                        "nodeOperatingSystems": {
                          "type": "string"
                        }
                      }
                    },
                    "nodePrerequisitesParametersDto": {
                      "type": "object",
                      "properties": {
                        "linux": {
                          "type": "string"
                        },
                        "windows": {
                          "type": "string"
                        },
                        "macOS": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/coins": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "getCoins*",
        "description": "Get a list of all coin denominations on the Sui Network.",
        "operationId": "getCoins",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Queried API page.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Select sorting parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Select sorting parameter.",
              "default": "AGE",
              "enum": [
                "AGE",
                "NAME",
                "HOLDERS"
              ]
            }
          },
          {
            "name": "withImage",
            "in": "query",
            "description": "Flag showing whether a coin has an image.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Flag showing whether a coin has an image.",
              "default": "TRUE"
            }
          },
          {
            "name": "searchStr",
            "in": "query",
            "description": "Enter part or full coin type to get the queried coin denomination.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0x2::sui::SUI"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalPages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalElements": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coinType": {
                            "type": "string"
                          },
                          "objectId": {
                            "type": "string"
                          },
                          "coinName": {
                            "type": "string"
                          },
                          "coinDenom": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "coinSymbol": {
                            "type": "string"
                          },
                          "imgUrl": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "supply": {
                            "type": "number"
                          },
                          "supplyInUsd": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number",
                            "format": "double"
                          },
                          "dominance": {
                            "type": "number",
                            "format": "double"
                          },
                          "circulatingSupply": {
                            "type": "number",
                            "format": "double"
                          },
                          "marketCap": {
                            "type": "number",
                            "format": "double"
                          },
                          "totalVolume": {
                            "type": "number",
                            "format": "double"
                          },
                          "maxSupply": {
                            "type": "number",
                            "format": "double"
                          },
                          "fdv": {
                            "type": "number",
                            "format": "double"
                          },
                          "holdersCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "packageId": {
                            "type": "string"
                          },
                          "creatorAddress": {
                            "type": "string"
                          },
                          "creatorName": {
                            "type": "string"
                          },
                          "creatorImg": {
                            "type": "string"
                          },
                          "creatorSecurityMessage": {
                            "type": "string"
                          },
                          "createTimestamp": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "isVerified": {
                            "type": "boolean"
                          },
                          "isBridged": {
                            "type": "boolean"
                          },
                          "securityMessage": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "sorted": {
                          "type": "boolean"
                        },
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        }
                      }
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "numberOfElements": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "offset": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "sort": {
                          "type": "object",
                          "properties": {
                            "sorted": {
                              "type": "boolean"
                            },
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            }
                          }
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      }
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/defi": {
      "post": {
        "tags": [
          "DEFI"
        ],
        "summary": "getDefis",
        "description": "Get a list of all DeFis provided by DefiLlama.",
        "operationId": "getDefis",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Queried API page.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Period for which the data is shown.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Period for which the data is shown.",
              "default": "DAY",
              "enum": [
                "DAY",
                "WEEK",
                "MONTH"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Select sorting parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Select sorting parameter.",
              "default": "CURRENT_TVL",
              "enum": [
                "CURRENT_TVL"
              ]
            }
          },
          {
            "name": "searchStr",
            "in": "query",
            "description": "Enter part or full DeFi name to get the queried DeFi.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "example": "OmniBTC"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "categories"
                ],
                "type": "object",
                "properties": {
                  "categories": {
                    "type": "array",
                    "description": "A list of DEFI categories",
                    "items": {
                      "type": "string",
                      "description": "A list of DEFI categories",
                      "enum": [
                        "BRIDGE",
                        "DEX",
                        "LENDING",
                        "YIELD",
                        "CDP",
                        "LAUNCHPAD",
                        "LIQUID_STAKING",
                        "RWA",
                        "ALGO_STABLES",
                        "SYNTHETICS",
                        "PAYMENTS",
                        "DERIVATIVES",
                        "DEX",
                        "BRIDGE",
                        "LENDING",
                        "YIELD",
                        "CDP",
                        "LAUNCHPAD",
                        "LIQUID_STAKING",
                        "RWA",
                        "ALGO_STABLES",
                        "SYNTHETICS",
                        "DERIVATIVES",
                        "PAYMENTS"
                      ]
                    },
                    "enum": [
                      "DEX",
                      "BRIDGE",
                      "LENDING",
                      "YIELD",
                      "CDP",
                      "LAUNCHPAD",
                      "LIQUID_STAKING",
                      "RWA",
                      "ALGO_STABLES",
                      "SYNTHETICS",
                      "DERIVATIVES",
                      "PAYMENTS"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalPages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalElements": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "projectName": {
                            "type": "string"
                          },
                          "imgUrl": {
                            "type": "string"
                          },
                          "currTvl": {
                            "type": "number"
                          },
                          "volume": {
                            "type": "number"
                          },
                          "volumeChange": {
                            "type": "number",
                            "format": "double"
                          },
                          "txsCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "packages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "packageAddress": {
                                  "type": "string"
                                },
                                "packageImg": {
                                  "type": "string"
                                },
                                "packageName": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "isIndexed": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "sorted": {
                          "type": "boolean"
                        },
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        }
                      }
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "numberOfElements": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "offset": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "sort": {
                          "type": "object",
                          "properties": {
                            "sorted": {
                              "type": "boolean"
                            },
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            }
                          }
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      }
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/collections": {
      "get": {
        "tags": [
          "NFTs"
        ],
        "summary": "getCollections*",
        "description": "Get a list of all NFT collections on the Sui Network.",
        "operationId": "getCollections",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Queried API page.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Select sorting parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Select sorting parameter.",
              "default": "AGE",
              "enum": [
                "AGE",
                "NAME",
                "ITEMS",
                "VOLUME",
                "HOLDER"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Select calculation period.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Select calculation period.",
              "default": "DAY",
              "enum": [
                "DAY",
                "WEEK",
                "MONTH"
              ]
            }
          },
          {
            "name": "searchStr",
            "in": "query",
            "description": "Enter part or full collection name or id to get the queried collection.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "example": "Bored Ape Sui Club"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalPages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalElements": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "collectionType": {
                            "type": "string"
                          },
                          "collectionName": {
                            "type": "string"
                          },
                          "collectionImg": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "securityMessage": {
                            "type": "string"
                          },
                          "projectSecurityMessage": {
                            "type": "string"
                          },
                          "packageId": {
                            "type": "string"
                          },
                          "packageName": {
                            "type": "string"
                          },
                          "projectName": {
                            "type": "string"
                          },
                          "projectImg": {
                            "type": "string"
                          },
                          "creatorAddress": {
                            "type": "string"
                          },
                          "creatorName": {
                            "type": "string"
                          },
                          "creatorImg": {
                            "type": "string"
                          },
                          "creatorSecurityMessage": {
                            "type": "string"
                          },
                          "socialWebsite": {
                            "type": "string"
                          },
                          "nftsCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "latestPrice": {
                            "type": "number"
                          },
                          "volume": {
                            "type": "number"
                          },
                          "holdersCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "marketplaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "createTimestamp": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "sorted": {
                          "type": "boolean"
                        },
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        }
                      }
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "numberOfElements": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "offset": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "sort": {
                          "type": "object",
                          "properties": {
                            "sorted": {
                              "type": "boolean"
                            },
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            }
                          }
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      }
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/metadata/objects": {
      "post": {
        "tags": [
          "Objects"
        ],
        "summary": "getObjectMetadata*",
        "description": "Get the metadata (type, name, image, project name and image, etc.) of the queried object: NFT, package, domain NFT, pool, or coin.",
        "operationId": "getObjectMetadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "hashes"
                ],
                "type": "object",
                "properties": {
                  "hashes": {
                    "type": "array",
                    "description": "Enter part or full object digest (hash) to get its metadata.",
                    "example": "0x16c5d6b410a2aeaaa3ba3a8c6ae7398300147bd5d9c54f425a2c74cdb205b1ff",
                    "items": {
                      "type": "string",
                      "description": "Enter part or full object digest (hash) to get its metadata.",
                      "example": "0x16c5d6b410a2aeaaa3ba3a8c6ae7398300147bd5d9c54f425a2c74cdb205b1ff"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "objectType": {
                        "type": "string",
                        "enum": [
                          "ACCOUNT",
                          "COIN",
                          "OBJECT",
                          "DOMAIN_NFT",
                          "NFT",
                          "COLLECTION",
                          "OTHER_OBJECT",
                          "PACKAGE",
                          "TRANSACTION",
                          "TRANSACTION_FUNCTION",
                          "TRANSACTION_MODULE",
                          "POOL",
                          "UNKNOWN"
                        ]
                      },
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "imgUrl": {
                        "type": "string"
                      },
                      "symbol": {
                        "type": "string"
                      },
                      "poolCoins": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coinType": {
                              "type": "string"
                            },
                            "coinSymbol": {
                              "type": "string"
                            },
                            "imgUrl": {
                              "type": "string"
                            },
                            "coinSeq": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "securityMessage": {
                              "type": "string"
                            },
                            "hasNoMetadata": {
                              "type": "boolean"
                            }
                          }
                        }
                      },
                      "projectName": {
                        "type": "string"
                      },
                      "projectImg": {
                        "type": "string"
                      },
                      "isIndexed": {
                        "type": "boolean"
                      },
                      "securityMessage": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkpoints": {
      "get": {
        "tags": [
          "Transaction Blocks"
        ],
        "summary": "getCheckpoints",
        "description": "Get a list of all checkpoints on the Sui Network. On Sui, checkpoints are equivalents to blocks and contain transaction blocks.",
        "operationId": "getCheckpoints",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Queried API page.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Select sorting parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Select sorting parameter.",
              "default": "SEQUENCE",
              "enum": [
                "SEQUENCE",
                "EPOCH",
                "TIMESTAMP",
                "TX_COUNT"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "writeOnly": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "digest": {
                            "type": "string"
                          },
                          "previousDigest": {
                            "type": "string"
                          },
                          "sequence": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "epoch": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "txCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "networkTotalTxCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "computationCost": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "storageCost": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "storageRebate": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "nonRefundableStorageFee": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "timestamp": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    },
                    "currentPage": {
                      "type": "integer",
                      "format": "int32",
                      "writeOnly": true
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalItems": {
                      "type": "integer",
                      "format": "int64",
                      "writeOnly": true
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "digest": {
                            "type": "string"
                          },
                          "previousDigest": {
                            "type": "string"
                          },
                          "sequence": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "epoch": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "txCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "networkTotalTxCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "computationCost": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "storageCost": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "storageRebate": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "nonRefundableStorageFee": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "timestamp": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "offset": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "sort": {
                          "type": "object",
                          "properties": {
                            "sorted": {
                              "type": "boolean"
                            },
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            }
                          }
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      }
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "totalElements": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "sorted": {
                          "type": "boolean"
                        },
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        }
                      }
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "numberOfElements": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/stats/{address}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getAccountStats*",
        "description": "Get key statistics of the queried account: balance in Sui, the total number of owned coin denominations, NFTs, collections, and unclassified objects.",
        "operationId": "getAccountStats",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Queried address digest (hash).",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Queried address digest (hash).",
              "default": "0x61953ea72709eed72f4441dd944eec49a11b4acabfc8e04015e89c63be81b6ab"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "coinsCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "nftsCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "othersCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "collectionsCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "kiosksCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "balance": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/top": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getTopAccounts*",
        "description": "Get a list of 200 accounts having the highest balance of Sui coins.",
        "operationId": "getTopAccounts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Queried API page.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": true,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Select sorting parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Select sorting parameter.",
              "default": "BALANCE",
              "enum": [
                "FIRST_SEEN",
                "LAST_SEEN",
                "TRANSACTIONS",
                "BALANCE"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "writeOnly": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountAddress": {
                            "type": "string"
                          },
                          "accountName": {
                            "type": "string"
                          },
                          "accountImg": {
                            "type": "string"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "nftsСount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "objectsCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "txsCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "firstSeen": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "lastSeen": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "securityMessage": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "currentPage": {
                      "type": "integer",
                      "format": "int32",
                      "writeOnly": true
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalItems": {
                      "type": "integer",
                      "format": "int64",
                      "writeOnly": true
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountAddress": {
                            "type": "string"
                          },
                          "accountName": {
                            "type": "string"
                          },
                          "accountImg": {
                            "type": "string"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "nftsСount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "objectsCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "txsCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "firstSeen": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "lastSeen": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "securityMessage": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "pageable": {
                      "type": "object",
                      "properties": {
                        "pageNumber": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "offset": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "sort": {
                          "type": "object",
                          "properties": {
                            "sorted": {
                              "type": "boolean"
                            },
                            "empty": {
                              "type": "boolean"
                            },
                            "unsorted": {
                              "type": "boolean"
                            }
                          }
                        },
                        "paged": {
                          "type": "boolean"
                        },
                        "unpaged": {
                          "type": "boolean"
                        }
                      }
                    },
                    "last": {
                      "type": "boolean"
                    },
                    "totalElements": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "sorted": {
                          "type": "boolean"
                        },
                        "empty": {
                          "type": "boolean"
                        },
                        "unsorted": {
                          "type": "boolean"
                        }
                      }
                    },
                    "first": {
                      "type": "boolean"
                    },
                    "numberOfElements": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "empty": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/total": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getAccountsCount",
        "description": "Get the total number of accounts on the Sui Network.",
        "operationId": "getAccountsCount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getAccountByHash",
        "description": "Get account details by address hash.",
        "operationId": "getAccountByHash",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Queried address digest (hash).",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Queried address digest (hash).",
              "default": "0x61953ea72709eed72f4441dd944eec49a11b4acabfc8e04015e89c63be81b6ab"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountAddress": {
                      "type": "string"
                    },
                    "accountName": {
                      "type": "string"
                    },
                    "accountImg": {
                      "type": "string"
                    },
                    "firstSeen": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "lastSeen": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "securityMessage": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/activity": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getAccountActivity*",
        "description": "Get all transactions in which the queried account was involved either as a sender or a receiver.",
        "operationId": "getAccountActivity",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Queried address digest (hash).",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Queried address digest (hash).",
              "default": "0x61953ea72709eed72f4441dd944eec49a11b4acabfc8e04015e89c63be81b6ab"
            }
          },
          {
            "name": "nextCursor",
            "in": "query",
            "description": "Cursor that should be sent to an endpoint to receive the next batch of responses.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": false,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DESC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activityType": {
                            "type": "string"
                          },
                          "details": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "DEX",
                                  "NFT",
                                  "DELEGATION",
                                  "OTHER"
                                ]
                              },
                              "detailsDto": {
                                "type": "object"
                              }
                            }
                          },
                          "activityWith": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "objectType": {
                                  "type": "string",
                                  "enum": [
                                    "ACCOUNT",
                                    "COIN",
                                    "OBJECT",
                                    "DOMAIN_NFT",
                                    "NFT",
                                    "COLLECTION",
                                    "OTHER_OBJECT",
                                    "PACKAGE",
                                    "TRANSACTION",
                                    "TRANSACTION_FUNCTION",
                                    "TRANSACTION_MODULE",
                                    "POOL",
                                    "UNKNOWN"
                                  ]
                                },
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "imgUrl": {
                                  "type": "string"
                                },
                                "symbol": {
                                  "type": "string"
                                },
                                "poolCoins": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "coinType": {
                                        "type": "string"
                                      },
                                      "coinSymbol": {
                                        "type": "string"
                                      },
                                      "imgUrl": {
                                        "type": "string"
                                      },
                                      "coinSeq": {
                                        "type": "integer",
                                        "format": "int32"
                                      },
                                      "securityMessage": {
                                        "type": "string"
                                      },
                                      "hasNoMetadata": {
                                        "type": "boolean"
                                      }
                                    }
                                  }
                                },
                                "projectName": {
                                  "type": "string"
                                },
                                "projectImg": {
                                  "type": "string"
                                },
                                "isIndexed": {
                                  "type": "boolean"
                                },
                                "securityMessage": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "timestamp": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "digest": {
                            "type": "string"
                          },
                          "txStatus": {
                            "type": "string",
                            "enum": [
                              "SUCCESS",
                              "FAILURE",
                              "ABORT"
                            ]
                          },
                          "gasFee": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "nextCursor": {
                      "type": "string"
                    },
                    "hasNextPage": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/balance": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getAccountBalance*",
        "description": "Get the balances of all coin denominations that the queried account holds in their native denominations and in USD.",
        "operationId": "getAccountBalance",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Queried address digest (hash).",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Queried address digest (hash).",
              "default": "0x61953ea72709eed72f4441dd944eec49a11b4acabfc8e04015e89c63be81b6ab"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coinType": {
                        "type": "string"
                      },
                      "coinName": {
                        "type": "string"
                      },
                      "coinSymbol": {
                        "type": "string"
                      },
                      "balance": {
                        "type": "number"
                      },
                      "balanceUsd": {
                        "type": "number"
                      },
                      "decimals": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "coinPrice": {
                        "type": "number",
                        "format": "double"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/objects": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "getAccountObjects*",
        "description": "Get a list of all objects owned by the queried account.",
        "operationId": "getAccountObjects",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Queried address digest (hash).",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Queried address digest (hash).",
              "default": "0x61953ea72709eed72f4441dd944eec49a11b4acabfc8e04015e89c63be81b6ab"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "objectTypes"
                ],
                "type": "object",
                "properties": {
                  "objectTypes": {
                    "type": "array",
                    "description": "The types of queried objects.",
                    "items": {
                      "type": "string",
                      "description": "The types of queried objects.",
                      "enum": [
                        "nft",
                        "domains",
                        "coin",
                        "unknown",
                        "kiosk"
                      ]
                    },
                    "enum": [
                      "nft",
                      "domains",
                      "coin",
                      "unknown",
                      "kiosk"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "coins": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coinType": {
                            "type": "string"
                          },
                          "coinName": {
                            "type": "string"
                          },
                          "coinDenom": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "coinSymbol": {
                            "type": "string"
                          },
                          "objectType": {
                            "type": "string"
                          },
                          "objectsCount": {
                            "type": "number"
                          },
                          "lockedBalance": {
                            "type": "object"
                          },
                          "totalBalance": {
                            "type": "number"
                          },
                          "coinPrice": {
                            "type": "number"
                          },
                          "imgUrl": {
                            "type": "string"
                          },
                          "securityMessage": {
                            "type": "string"
                          },
                          "bridged": {
                            "type": "boolean"
                          },
                          "hasNoMetadata": {
                            "type": "boolean"
                          },
                          "verified": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "nfts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "objectType": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "COIN",
                              "OBJECT",
                              "DOMAIN_NFT",
                              "NFT",
                              "COLLECTION",
                              "OTHER_OBJECT",
                              "PACKAGE",
                              "TRANSACTION",
                              "TRANSACTION_FUNCTION",
                              "TRANSACTION_MODULE",
                              "POOL",
                              "UNKNOWN"
                            ]
                          },
                          "objectsCount": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "type": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imgUrl": {
                            "type": "string"
                          },
                          "securityMessage": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      }
                    },
                    "domains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "objectType": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "COIN",
                              "OBJECT",
                              "DOMAIN_NFT",
                              "NFT",
                              "COLLECTION",
                              "OTHER_OBJECT",
                              "PACKAGE",
                              "TRANSACTION",
                              "TRANSACTION_FUNCTION",
                              "TRANSACTION_MODULE",
                              "POOL",
                              "UNKNOWN"
                            ]
                          },
                          "objectsCount": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "type": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imgUrl": {
                            "type": "string"
                          },
                          "securityMessage": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      }
                    },
                    "unknowns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "objectType": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "COIN",
                              "OBJECT",
                              "DOMAIN_NFT",
                              "NFT",
                              "COLLECTION",
                              "OTHER_OBJECT",
                              "PACKAGE",
                              "TRANSACTION",
                              "TRANSACTION_FUNCTION",
                              "TRANSACTION_MODULE",
                              "POOL",
                              "UNKNOWN"
                            ]
                          },
                          "objectsCount": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "type": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imgUrl": {
                            "type": "string"
                          },
                          "securityMessage": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      }
                    },
                    "kiosks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "objectType": {
                            "type": "string"
                          },
                          "subType": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "ownerAddress": {
                            "type": "string"
                          },
                          "latestTx": {
                            "type": "string"
                          },
                          "balance": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "id": {
                            "type": "string"
                          },
                          "version": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "objectsCount": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "imgUrl": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{address}/transactions": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "getAccountTransactions*",
        "description": "Get a list of all transaction blocks run by the queried account.",
        "operationId": "getAccountTransactions",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Queried address digest (hash).",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Queried address digest (hash).",
              "default": "0x61953ea72709eed72f4441dd944eec49a11b4acabfc8e04015e89c63be81b6ab"
            }
          },
          {
            "name": "transactionsParticipationType",
            "in": "query",
            "description": "Type of actor in a transaction: a sender or a receiver.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "SENDER",
              "enum": [
                "SENDER",
                "RECEIVER"
              ]
            }
          },
          {
            "name": "nextCursor",
            "in": "query",
            "description": "Cursor that should be sent to an endpoint to receive the next batch of responses.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of queried entries.",
            "required": false,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting method: from the lowest element to the highest (ASC) or from the highest element to the lowest (DESC).",
            "required": true,
            "schema": {
[...]
